<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Happy birthday, <%= @user.email %></h1>
    <p>
      Have a lovely day!
    </p>
    <p>Eduardos Group</p>
  </body>
</html>